[Desktop Entry]
Encoding=UTF-8
Name=KSlovar
Exec=kslovar
Icon=kslovar
Type=Application
Comment=Dictionary for KDE
Comment[sl]=Slovar za KDE
Categories=Qt;KDE;Education;Languages