[Desktop Entry]
Name=KSlovar
Encoding=UTF-8
GenericName=Dictionary viewer and editor
GenericName[sl]=Pregledovalnik in urejevalnik slovarjev
Exec=kslovar
Icon=kslovar
Type=Application
Comment=Dictionary for KDE
Comment[sl]=Slovar za KDE
Categories=Qt;KDE;Education;Languages;
MimeType=application/vnd.kslovar.scmd;application/vnd.kslovar.ksd;
