[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KSlovar
Comment=Dictionary for KDE
Comment[sl]=Slovar za KDE
GenericName=Dictionary viewer and editor
GenericName[sl]=Pregledovalnik in urejevalnik slovarjev
Exec=kslovar
Icon=kslovar
Categories=Qt;KDE;Education;Languages;
MimeType=application/vnd.kslovar.scmd;application/vnd.kslovar.ksd;
